h1{
    margin-left: 100px;
    color:rgb(60, 60, 90);
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    margin-left: 100px;
    color:rgb(60, 60, 90);
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    margin-left: 100px;
    color:rgb(60, 60, 90);
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.thumb1 { 
    background: url(final_shot.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
    width: 250px;
    height: 250px;
}
  
.thumb1 a {
    display: block;
    width: 250px;
    height: 250px;
}