h1{
font-family: "logic-monospace", mono;
font-weight: 400;
font-style: normal;
}

p{
font-family: "le-monde-livre-classic-byol", serif;
font-weight: 300;
font-style: normal;
}

img{
width: 350px;
}

a{
font-family: "logic-monospace", mono;
font-weight: 400;
font-style: normal;
}

.grid-container {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  gap: 40px;
  padding: 30px;
  float: right;
}

.grid-container > div {
  text-align: right;
  padding: 20px 0;
  font-size: 20px;
}