h1{
font-family: "logic-monospace", mono;
font-weight: 400;
font-style: normal;
}

p{
font-family: "le-monde-livre-classic-byol", serif;
font-weight: 300;
font-style: normal;
}

img{
width: 350px;
}

a{
font-family: "logic-monospace", mono;
font-weight: 400;
font-style: normal;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
grid-template-rows: repeat(auto-fit, 400px);
  gap: 10px;
}

.grid-container > div {
  text-align: right;
  padding: 10px;
  font-size: 20px;
}
